body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
header {
  background-color: #82b74b;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bold;
}
footer {
  background-color: #82b74b;
  margin-top: auto;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
.body {
  height: 100%;
  margin: 0;
  background-color: #405d27;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outter-frame {
  padding: 0.1rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 4px black;
  border-radius: 4px;
  height: 80vh;
  width: 60vw;
  max-width: 45rem;
  max-height: 65rem;
  background-color: #dac292;
}
.display {
  background-color: #c1946a;
  font-size: xx-large;
  height: 25vh;
  width: 55vw;
  max-width: 40rem;
  max-height: 60rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: solid black 4px;
  border-radius: 4px;
  border-bottom: 0;
}

.button-field {
  height: 50vh;
  width: 55vw;
  max-width: 40rem;
  max-height: 60rem;
  padding: 0.1rem;
  border: solid black 4px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.1rem;
}
.button {
  color: white;
  background-color: #3e4444;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
}

#add-button {
  grid-row: 2 / 4;
  grid-column: 4 / 4;
}
#minus-button {
  grid-row: 4 / 6;
  grid-column: 5 / 4;
}
