body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
header{
    background-color: red;
    height: 10%;
    display: flex;
    justify-content: center;
}
footer{
    background-color: red;
    margin-top: auto;
    height: 10%;
}
.body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outter-frame{
    width: 25%;
    height: 50%;
}
.display{
    border: solid black 4px;
    border-bottom: 0;
    height: 4rem;
    
}

.button-field{
    padding: .1rem;
    border: solid black 4px;
    height: 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.1rem; 
}
.button{
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
}

#add-button{
    grid-row:    2 / 4;
    grid-column: 4 / 4;
}
#minus-button{
    grid-row:    4 / 6;
    grid-column:  5 /  4;
}